<main class="index">
    <header class="masthead">
        <div class="container text-center my-auto">
            <h1 class="mb-1">BoxBook</h1>
            <h3 class="mb-2">
                <em>Unete a la red social de lectura mas completa!</em>
            </h3>
            <h3 class="mb-5">
                <em>Agrega tus libros favoritos y registra tus lecturas.</em>
            </h3>
            <a class="btn iniciar" href="/signin">Empieza aquí</a>
        </div>
    </header>
</main>